/*@import "tailwindcss";*/

/* Full-width inputs */
input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-width: 1.5px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  border-radius: 8px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    /*CHANGE BACKGROUND*/
    color: black;
    
    background-image: url('../assets/login-background.jpg');
    background-size: cover;         /* cover whole area */
    background-position: center;    /* center image */
    background-repeat: no-repeat;
    margin: 0;
}

